html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000;
    transition: all 0.4s ease;
}

.chid {
    display: none;
    list-style-type: none;
    background-color: #f8f8f8;
    border: 1px solid black;
    border-radius: 0 0 15px 15px;
    width: 150px;
    height: 249px;
    text-align: left;
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 45px;
    padding: 0;
    transition: all 0.4s ease;
}

.chid li.cd1.sty {
    border-radius: 0 0 15px 15px;
}

.chid li.cd1 {
    padding: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.4s ease;
    border-bottom: 1px solid black;
}

.chid li.cd1 a {
    padding: 10px;
}

.chid li.cd1:hover {
    background-color: #1877f2;
    color: #fff;
}

span {
    color: #1877f2;
    transition: all 0.4s ease;
}

.navbar1.sticky .maxwid-n a.logo1 span {
    color: #fff;
}

.u1 {
    list-style-type: none;
    display: inline-block;
    margin: 10px 0;
    transition: all 0.4s ease;
}

.l1 {
    display: inline-block;
    margin-right: 20px;
    border-radius: 30px;
    padding: 10px 15px;
    transition: all 0.4s ease;
}

.l1:hover {
    background-color: #1877f2;
}

.l1:hover a {
    color: #fff;
}

.navbar1.sticky .maxwid-n .u1 .l1:hover {
    background-color: #fff;
}

.navbar1.sticky .maxwid-n .u1 .l1:hover a {
    color: #1877f2;
}

.logo1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.4s ease;
}

.maxwid-n {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    transition: all 0.4s ease;
}

.navbar1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.navbar1.sticky {
    background-color: #1877f2;
    z-index: 2;
    transition: all 0.4s ease;
}

@media screen and (max-width: 1113px) {
    .hint.h1 {
        margin-left: 50px;
    }
}

@media screen and (max-width: 900px) {
    .l1 {
        margin-right: 0;
    }

    .maxwid-n {
        margin: 0 30px;
    }
}

@media screen and (max-width: 700px) {
    .maxwid-m .slide.s1 {
        width: 450px;
        height: 350px;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .maxwid-m .slide.s1 {
        width: 350px;
        height: 300px;
    }

    .hint.h1.h2 p.acr {
        font-size: 16px;
    }

    .hint.h1.h2.h3.h4 {
        margin-left: 25px;
    }

    .crs .cell {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    #mean.t1 {
        width: 25em;
        height: 8em;
    }
}

@media screen and (max-width: 550px) {
    #mean.t1.t2 {
        width: 20em;
        height: 12em;
    }

    .maxwid-c .q1 {
        display: inline-block;
    }

    .hint.h1.h2 p.acr.a1 {
        font-size: 12px;
        width: 480px;
    }

    .cbtn.b1 {
        font-size: 14px;
        padding: 5px 10px;
        margin: 10px;
        border: 1px solid #1877f2;
    }
}

@media screen and (max-width: 500px) {
    .hint.h1.h2 p.acr.a1 {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    #mean.t1.t2.t3 {
        width: 15em;
        height: 15em;
    }

    .crs.c1 .cell {
        font-size: 12px;
    }

    .hint.h1.h2.h3 p.acr.a1.a2 {
        font-size: 10px;
    }

    .navbar1 .maxwid-n {
        margin: 0 20px;
    }
}

@media screen and (max-width: 420px) {
    .hint.h1.h2.h3 p.acr.a1 {
        width: 350px;
    }

    .cbtn.b1.b2 {
        font-size: 12px;
        padding: 5px 8px;
        margin: 8px;
    }
}

@media screen and (max-width: 394px) {
    .navbar1 .maxwid-n .u1 {
        padding-left: 20px;
    }
}

.vocont {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 50px;
    transition: all 0.4s ease;
}

h2 {
    font-family: 'Roboto', sans-serif;
    transition: all 0.4s ease;
    font-size: 26px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    transition: all 0.4s ease;
    font-size: 20px;
}

.w1 {
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 20px;
    margin: 15px 10px;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #1877f2;
    cursor: pointer;
    transition: all 0.4s ease;
}

.w1:hover {
    background-color: #1877f2;
    color: #fff;
}

.maxwid-v {
    text-align: center;
    width: 730px;
    transition: all 0.4s ease;
}

@media screen and (max-width: 800px) {
    .maxwid-v {
        width: 530px;
    }

    #mean {
        width: 30em;
        height: 8em;
    }

    .maxwid-m .slide {
        width: 550px;
        height: 300px;
    }

    .pimg.pi1.pi2 {
        width: 600px;
        height: 350px;
    }

    .ptxt.pt1.pt2 {
        width: 650px;
    }
}

@media screen and (max-width: 700px) {
    .pimg.pi1.pi2.pi3 {
        width: 500px;
        height: 300px;
    }

    .ptxt.pt1.pt2.pt3 {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .pimg.pi1.pi2.pi3.pi4 {
        width: 400px;
        height: 300px;
    }

    .ptxt.pt1.pt2.pt3.pt4 {
        width: 550px;
    }

    .ptxt.pt1.pt2.pt3.pt4 p.pp1 {
        font-size: 16px;
    }

    .h {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .pimg.pi1.pi2.pi3.pi5 {
        width: 300px;
        height: 250px;
    }

    .ptxt.pt1.pt2.pt3.pt4.pt5 {
        width: 450px;
    }
}

@media screen and (max-width: 385px) {
    .navbar1 .maxwid-n a.logo1 {
        font-size: 18px;
    }

    .navbar1 .maxwid-n .u1.u1 {
        padding: 0;
    }

    .navbar1 .maxwid-n .u1.u1 .l1 {
        padding: 10px;
    }

    .navbar1 .maxwid-n .u1.u1 .l1a {
        font-size: 15px;
    }
}

.vocab {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.4s ease;
}

#mean {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
    padding: 10px;
    transition: all 0.4s ease;
}

.maxwid-m {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.4s ease;
}

.slide {
    width: 650px;
    height: 500px;
    background-image: url(1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 100px;
    border: 3px solid black;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
    padding: 10px 20px;
}

.lbtn, .rbtn {
    cursor: pointer;
    color: #1877f2;
    transition: all 0.4s ease;
}

.lbtn {
    opacity: 0.4;
}

.meme {
    margin: 80px 0 0 0;
    transition: all 0.4s ease;
}

.cword {
    margin-bottom: 50px;
    transition: all 0.4s ease;
}

.maxwid-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    transition: all 0.4s ease;
}

table {
    width: 360px;
    height: 360px;
    border: 1px solid black;
    transition: all 0.4s ease;
}

td {
    border: 1px solid black;
    font-size: 20px;
    width: 35px;
    height: 35px;
    padding: 0;
    transition: all 0.4s ease;
}

.cell {
    font-size: 20px;
    text-align: center;
    border: 0;
    padding: 8px 2px;
    transition: all 0.4s ease;
}

.cell.dis {
    background-color: #39303f;
}

.acr {
    width: 550px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: all 0.4s ease;
}

.hint {
    text-align: left;
    margin: 0 0 0 100px;
    transition: all 0.4s ease;
}

.cbtn {
    border: 2px solid #1877f2;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.cbtn:hover {
    color: #fff;
    background-color: #1877f2;
}

.rebus {
    margin: 120px 0;
    transition: all 0.4s ease;
}

.maxwid-r {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.im {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    border: 3px solid #000;
    border-radius: 100%;
    margin: 0 30px 30px;
    transition: all 0.4s ease;
}

.im:hover {
    border-color: #1877f2;
}

.m1 {
    background-image: url(r1.jpeg);
}

.m2 {
    background-image: url(r2.jpeg);
}

.m3 {
    background-image: url(r3.jpeg);
}

.m4 {
    background-image: url(r4.jpeg);
}

.m5 {
    background-image: url(r5.jpeg);
}

.m6 {
    background-image: url(r6.jpeg);
}

.m7 {
    background-image: url(r7.jpeg);
}

.m8 {
    background-image: url(r8.png);
}

.m9 {
    background-image: url(r9.jpeg);
}

.txt {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    border: 2px solid #000;
    padding: 8px 14px;
    text-align: center;
    margin-bottom: 15px;
    transition: all 0.4s ease;
}

.re1, .re2, .re3, .re4 {
    margin: 25px 0;
    transition: all 0.4s ease;
}

.maxwid-p {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    transition: all 0.4s ease;
}

.pimg {
    background-image: url(pic1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.ptxt {
    width: 600px;
    height: 600px;
    text-align: left;
    transition: all 0.4s ease;
}

.ptxt p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 20px 30px;
    transition: all 0.4s ease;
}

@media screen and (max-width: 1100px) {
    .ptxt.pt1 p {
        margin: 40px 30px;
    }

    .ptxt.pt1 {
        width: 800px;
        height: 600px;
        text-align: left;
    }

    .pimg.pi1 {
        width: 700px;
        height: 400px;
    }
}
